doctype html
| okay what to do
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Historique
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='/css/bootstrap.css')
  link(rel='stylesheet' href='/vendors/simple-datatables/style.css')
  link(rel='stylesheet' href='/vendors/perfect-scrollbar/perfect-scrollbar.css')
  link(rel='stylesheet' href='/vendors/bootstrap-icons/bootstrap-icons.css')
  link(rel='stylesheet' href='/css/app.css')
  link(rel='stylesheet' href='vendors/fontawesome/all.min.css') 
  link(rel='shortcut icon' href='/images/favicon.svg' type='image/x-icon')
#app
  #sidebar.active
    .sidebar-wrapper.active
      .sidebar-header
        .d-flex.justify-content-between
          .logo
            a(href='index.html')
              img(src='/images/logo/logo.png' alt='Logo' srcset='')
          .toggler
            a.sidebar-hide.d-xl-none.d-block(href='#')
              i.bi.bi-x.bi-middle
      .sidebar-menu
        ul.menu
          li.sidebar-item
            a.sidebar-link(href='index')
              i.bi.bi-grid-fill
              span Acceuil
          li.sidebar-item
            a.sidebar-link(href='Consultation')
              i.bi.bi-file-earmark-medical-fill
              span Consulter les processus
          li.sidebar-item
            a.sidebar-link(href='fdemande')
              i.bi.bi-pen-fill
              span Faire une demande
          li.sidebar-item
            a.sidebar-link(href='Encours')
              i.bi.bi-collection-fill
              span Demandes en cours
          if (ver5=='assistant de suivie')    
            li.sidebar-item
              a.sidebar-link(href='/traiter')
                i.bi.bi-collection-fill
                span Demandes a traiter 
          if (ver5=='verificateur')    
            li.sidebar-item
              a.sidebar-link(href='/verifier')
                i.bi.bi-collection-fill
                span Dossier a verifier               
          li.sidebar-item.active
            a.sidebar-link(href='Historique')
              i.bi.bi-stack
              span Historique
          li.sidebar-item
            a.sidebar-link(href='logout')
              i.fa.fa-sign-out-alt(aria-hidden='true')
              span Se déconnecter               
      button.sidebar-toggler.btn.x
        i(data-feather='x')
  #main
    header.mb-3
      a.burger-btn.d-block.d-xl-none(href='#')
        i.bi.bi-justify.fs-3
    .page-heading
      .page-title
        .row
          .col-12.col-md-6.order-md-1.order-last
            h3 Historique
            p.text-subtitle.text-muted Consulter votre historique
          .col-12.col-md-6.order-md-2.order-first
            nav.breadcrumb-header.float-start.float-lg-end(aria-label='breadcrumb')
              ol.breadcrumb
                li.breadcrumb-item
                  a(href='index.html') Acceuil
                li.breadcrumb-item.active(aria-current='page') Historique
      section.section
        .card
          .card-header
            | Historique des demandes
          .card-body
            table#table1.table.table-striped
              thead
                tr
                  th DemandeID
                  th Date de demande
                  th Type
                  th Status
                  th Details
              tbody
                 
                each demande, i in ver7
                  case demande.etat
                    when 'finalisé'
                      -var alerttype='bg-success'  
                    when 'refusé'
                      -var alerttype='bg-danger'     
                  tr
                    td #{demande.uuid}
                    td #{demande.date}
                    td #{demande.type}
                    td 
                     span.badge(class=alerttype) #{demande.etat}
                    td
                     a.badge.bg-secondary(href='#') Details
                
    footer
      .footer.clearfix.mb-0.text-muted
        .float-start
          p 2021 &copy; Cosider
        .float-end

script(src='/vendors/perfect-scrollbar/perfect-scrollbar.min.js')
script(src='/js/bootstrap.bundle.min.js')
script(src='vendors/fontawesome/all.min.js')
script(src='/vendors/simple-datatables/simple-datatables.js')
script.
  // Simple Datatable
  let table1 = document.querySelector('#table1');
  let dataTable = new simpleDatatables.DataTable(table1);
script(src='/js/main.js')
